grad_cam==1.5.7
ImageHash==4.3.2
numpy==2.4.6
opencv_python==5.0.0.93
opencv_python_headless==5.0.0.93
pandas==3.0.6
Pillow==12.3.0
scikit_learn==1.9.1
streamlit==1.63.0
torch==2.14.0
torchvision==0.29.0+cu126